body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }

/* Barra de navegación*/
.navbar {
  padding: 2rem;
  background-color: hsl(195, 64%, 34%);
  color: #EFF5F5;
  font-size: 18px;
}

.form {
  font-size: 15px;
  justify-content: center;
  align-items: center;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

/*Main*/
.button-volver {
    border-radius: 5px;
    outline: 0;
    padding: 10px;
    color: white;
    background-color: #1bcb7f;
    text-align: center;
    cursor: pointer;
    width: 250px;
    font-size: 15px;
    margin-top: 20px;
}

#detalle-instrumento {
  background-color: hsl(205, 45%, 50%);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(650px, 1fr));
  gap: 20px;
  padding: 20px;
}


.detalles-instrumento {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.detalles-instrumento img {
  margin-top: 40px;
  width: auto;
  height: 300px;
}

/* Footer */
footer {
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
  margin-top: 20px;
  margin-bottom: 20px;
}

footer>div {
  width: 50%;
  margin-left: 10px;
}

footer h4 {
  color: black;
  margin-bottom: 20px;
  margin-left: 10px;
}

footer ul {
  line-height: 2.5;
  color: black;
  margin-left: 10px;
}